requests==2.31.0
beautifulsoup4==4.12.2
python-dotenv==1.0.0
fake-useragent==1.4.0
selenium==4.18.1
undetected-chromedriver==3.5.5
webdriver-manager==4.0.1
feedparser
googletrans==4.0.0-rc1
streamlit
yfinance==0.2.37